.main-changepassword-conatner {
    display: flex;
}

.nav-changepassword {
    width: 400px;
}

.main-changepassword-content {
    display: flex;
    flex-direction: column;
    padding: 10rem;
    width: 100%;
}

.changepassword-icon{
    display: flex;
    flex-direction: row;
    gap: 1rem;
}

.changepassword-icon p{
    font-size: 1.3rem;
    color: rgb(51, 50, 50);
    font-weight: 600;
}

.changepassword-update{
    display: flex;
      flex-direction: column;
    justify-content: center;
    align-items: center;
}

.changepassword-update h5{
 font-size: 1.7rem;
 color: rgb(114, 57, 57);

}

.changepassword-update-input{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    margin-top: 2rem;
}

.changepassword-update-input input{
        margin-bottom: 3rem;
        width: 500px;
        height: 70px;
        border-radius: 60px;
        border-color: rgb(202, 197, 197);
        border-top-color: rgb(252, 250, 250);
        outline: none;
        color: black;
        font-size: 1.1rem;
        padding-left: 2rem;
        position: relative;
}


.sucsses p{
        font-size: 1rem;
        color: green;
        margin-bottom: 1rem;
}

.field p{
    font-size: 1rem;
    color: rgb(209, 8, 8);
    margin-top: 1rem;}
.unconfirm p{

    font-size: 1rem;
    color: rgb(209, 8, 8);
    margin-bottom: 1rem;
  
}